////////////////////////////////////////////////////////////
///Basic Typography styles for the entire appplicaiton
////////////////////////////////////////////////////////////

body {
    // font included as google CDN in index.html
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    background-color: $color-gray;
    color: $color-black;
    line-height: 1.4;
}

p {
    font-size: 1.4rem;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}