////////////////////
// Color Variables
////////////////////
$color-primary: #2874f0;
$color-primary-dark: #212121;

$color-secondary: #ffe500;

$color-white: #ffffff;
$color-gray: #f1f3f6;

$color-black: #212121;