////////////////////
// Color Variables
////////////////////

$color-primary: #2874f0;
$color-primary-dark: #212121;

$color-secondary: #ffe500;
$color-tertiary: #388E3c;

$color-white: #ffffff;
$color-gray: #f1f3f6;
$color-gray-dark: #878787;

$color-black: #212121;