@import '../../../sass/abstracts/variables';
@import '../../../sass/abstracts/mixins';

.Footer {
    @include u-center-contents;
    width: 100%;
    height: 15vh;
    background-color: $color-primary-dark;

    &__Text {
        font-weight: 400;
        color: $color-white;
    }

    &__Disclaimer {
        display: block;
        text-align: center;
        padding-top: 1.5rem;
        width: 100%;
        border-top: .1rem solid $color-white;
        color: $color-gray;
        font-weight: 300;
    }
}