@import '../../../sass/abstracts/variables';

.ProductPanel {
    padding: 2rem;
    background-color: $color-white;
    &__Cards {
        display: flex;
        flex-wrap: wrap;
        // Especially added for loading and error cases
        min-height: 80vh;
    }

    &__Categories {
        font-size: 2.5rem;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__Pagination {
        border-top: .2rem solid $color-gray;
        padding-top: 2rem;
        //margin: 2rem auto 0 auto;
        width: 100%;
    }
}